.page-home {
  height: 100vh;
}

.pomodoro {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  // width: 100%;
  height: 100%;
  justify-content: center;
  // max-width: 81%; // = 1045 / 1280

  @include media-breakpoint-up (lg) {
    flex-wrap: nowrap;
  }
}

.pomodoro-jobs {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-up (lg) {
    flex: 0 0 45%;
    // max-width: 45%;
    max-width: 475px;
  }

  .todo-editor-wrapper, .todo-list-wrapper {
    flex: 0 0 auto;
  }

  .todo-list-wrapper {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .todo-summary-wrapper {
    position: relative;
  
    .todo-summary {
      &-actual {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

.pomodoro-timer-wrapper {
  flex: 0 0 55%;
  // max-width: 55%;
  max-width: 570px;
  padding: 0 15px;
}
