.page-settings {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $navy;
  display: flex;
  flex-direction: column;
  color: $white;

  @include media-breakpoint-up(lg) {
    padding-left: calc(5.3125rem + 15.625rem + 7.8125rem);
    padding-right: 10.4375rem
  }
}

.setting-group {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.setting-header {
  background-color: rgba($white, .2);
  padding: 0.5rem 1rem;
  color: $white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;

  h5 {
    margin-bottom: 0;
  }
}

.setting-content {
  .list-item {
    margin-bottom: 1rem;
  }
}