.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list-header {
  background-color: rgba($white, .2);
  padding: 0.5rem 1rem;
  color: $white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

  h5 {
    margin-bottom: 0;
  }
}

.todo-current{
  &.no-todos {
    color: $pink;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba($white, 0.2);

  &-more {
    font-weight: 700;
    border-bottom: none;
    justify-content: flex-end;
  }

  &:hover {
    .todo-title {
      .date {
        opacity: 1;
      }
    }
  }

  @at-root .todo-current & {
    padding: 0;
  }
}


.todo-checkbox {
  flex: 0 0 auto;
  max-width: 100%;
  padding: 2px;

  input[type="checkbox"] {
    &:after {
      content: '';
      border: 1px solid $navy;
    }
  }

  @at-root .todo-current & {
    margin-right: 1rem;

    .checkbox {
      width: 3rem;
      height: 3rem;
    }
  }
}

.todo-content {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.todo-title {
  color: $navy;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 4px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @at-root .todo-current & {
    font-size: 1.5rem;
  }

  @at-root .todo-item-done & {
    .text {
      text-decoration: line-through;
      font-style: italic;
    }
  }

  .date {
    font-size: 0.75rem;
    font-weight: 300;
    margin-left: 0.5rem;
    opacity: 0.2;
    transition: opacity .15s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

.todo-actions {
  flex: 0 0 auto;
  max-width: 100%;
  // display: flex;
  // align-items: center;
  // font-size: 1.5rem;
}

.todo-summary-wrapper {
  position: relative;

  // .todo-summary {
  //   // &-actual {
  //   //   position: absolute;
  //   //   top: 0;
  //   //   left: 0;
  //   //   width: 100%;
  //   // }
  // }
}

.todo-clock {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  // background-color: rgba($black, .1);
  border: 1px solid $navy;
  margin: 0 4px;

  &-current {
    background-color: transparent !important;
    border-color: rgba($pink, 0.5) !important;
    position: relative;

    .pie {
      display: flex;
    }

    @at-root .app-theme-resting & {
      opacity: 0;
    }
  }

  @at-root .todo-summary-estimations & {
    border-color: rgba($pink, 0.5);
  }

  @at-root .todo-summary-actual & {
    border-color: $navy;
    background-color: $navy;
  }
}

.todo-list-theme {
  &-navy {
    .todo-item {
      border-bottom-color: rgba($navy, 0.2);
    }

    .todo-title {
      color: $navy;
    }

    .todo-actions {
      .btn {
        color: $navy;
      }
    }

    .todo-clock {
      @at-root .todo-summary-estimations & {
        border-color: rgba($pink, 0.5);
      }

      @at-root .todo-summary-actual & {
        border-color: $navy;
        background-color: $navy;
      }
    }
  }

  &-light {
    .todo-item {
      border-bottom-color: rgba($white, 0.2);
    }

    .todo-title {
      color: $white;
    }

    .todo-actions {
      .btn {
        color: $white;
      }
    }

    .todo-summary-estimations {
      .todo-clock {
        border-color: rgba($white, 0.5);
      }
    }

    .todo-summary-actual {
      .todo-clock {
        border-color: $white;
        background-color: $white;
      }
    }
  }
}